<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'login_app/css/main.css' %}" />
    <title>FeedByMe</title>
  </head>
  <body>
    <div class="wrapper">
      <form method="POST">
        <h2>Enter new password</h2>
        <p>
          Please enter your new password twice so we can verify you typed it in
          correctly.
        </p>
        {% csrf_token %}
        <label class="form-label" for="new_password1">Enter new password</label
        ><br />
        {{form.new_password1}}<br />
        <label class="form-label" for="new_password1"
          >Enter new password again</label
        ><br />
        {{form.new_password2}}<br />
        <br />
        <input type="submit" value="Change Password" class="btn btn-success" />
      </form>
      {% for message in messages %}
      <p class="alert alert-danger">{{ message }}</p>
      {% endfor %}
    </div>
  </body>
</html>
